$Dark-gray: hsl(0, 0%, 13%);
$Accent: hsl(352, 82%, 69%);
$Light-pink: hsl(351, 32%, 92%);
$Very-light-pink: hsl(348, 26%, 96%);
$Light-gray: hsl(0, 0%, 88%);
$Very-light-gray: hsl(0, 0%, 97%);
$Gray-text: hsl(0, 0%, 36%);
$Light-gray-text: hsl(0, 0%, 62%);

$laptop: 1024px;
$tablet: 768px;
$mobile: 576px;
